/* img.mainPic {
    max-width: 100%;
    height: auto;
}

div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
  
div.container {
    text-align: center;
    padding: 10px 20px;
} */

/* .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }

  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .container {
    position: relative;
    width: 50%;
  }

  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #4CAF50; 
    color: rgb(36, 172, 206);
    font-size: 16px;
    padding: 16px 32px;
  } */

.wrapper {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, 100px);
  display: flex;
  flex-wrap: wrap;
}
/* .one {
  grid-column: 1;
  grid-row: 1;
}
.two {
  grid-column: 2;
  grid-row: 1;
}

.three {
  grid-column: 3;
  grid-row: 1;
}

.four {
  grid-column: 1;
  grid-row: 2;
} */

.image {
  width: 100%;
  max-width: 600px;
  height: auto;
}

div.container {
  padding: 100px;
}
